@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-muw-light text-slate-800 font-sans antialiased;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-white/80 backdrop-blur-lg border border-white/40 shadow-xl;
  }
  
  .glass-card {
    @apply bg-white border border-slate-100 shadow-sm hover:shadow-md transition-all duration-300;
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
